{
    "cn": "{{ cert_cn }}",
    "key": {
        "algo": "rsa",
        "size": {{ rsa_key_size }}
    },
    "names": [
        {
            "C": "NL",
            "O": "OpenVPN"
        }
    ]
}
