client
dev tun
proto tcp
remote {{ ansible_default_ipv4.address }} 443
remote-cert-tls server

ca {{ droplet_name}}-ca.pem
cert {{ droplet_name }}-client.pem
key {{ droplet_name }}-client-key.pem

cipher AES-256-CBC
tls-auth {{ droplet_name }}-ta.key 0

up /etc/openvpn/openvpn-dns
