{
    "cn": "znc.jbaublitz.me",
    "key": {
        "algo": "rsa",
        "size": {{ rsa_key_size }}
    },
    "names": [
        {
            "C": "MA",
            "O": "Yarn Bombed Gallows, Inc.",
            "OU": "Department of Comfy Executions"
        }
    ]
}
