{
    "signing": {
        "profiles": {
            "server": {
                "expiry": "{{ ca_expiration }}",
                "usages": [
                    "digital signature",
                    "key encipherment",
                    "server auth",
                    "client auth"
                ]
            }
        }
    }
}
